body {
	font-family: arial, size;
	background-color: #800000;
	font-size: 16px;
}
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
  }

.navbar-brand { /* Restaurant name */
  font-family: 'Lora', serif;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  height:70px;
}
.navbar-brand h1 {
	color: #800000;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	padding: 0;
	line-height: 70px

}
#main-content h2 {
	color: white;

}
.box {
	background-color: #f6b319;
	height: 700px;
	padding: 20px;
}
.box p {
	color: #800000;
}
.box h3 {
	color: #800000;
	font-weight: bold;
}
.col-md-4, .col-sm-6, .col-sm-12, .col-xs-12 {
	padding: 20px;
}
.navbar-toggle {
	margin-top: 0px;
	line-height: 70px;
	top: 18px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;

}

#nav-list span {
	color: white;
	font-weight: bold;
}

@media (max-width: 767px) {
#collapsable-nav {
	border: 1px solid white;
	margin-bottom: 0;
	padding-bottom: 0; 
}
#collapsable-nav ul li {
	border-bottom: 1px solid white;
	padding: 0;
	margin: 0;
	top: -5px;
}
#collapsable-nav ul li:nth-child(3){
	border-bottom: none;
	margin-top: 5px;
	margin-bottom: 0px;
}
}