body {
	background-color: #800000;
	font-family: arial, serif;
	font-size: 16px;
}
#header-nav {
  background-color: #FF8C00;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px; /* tirar o bottom se algo der errado.*/
  padding-bottom: 55px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #800000;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
  margin-left: 0;
}
 
.navbar-header button.navbar-toggle {
  margin-top: 23px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;

}
#nav-list li {
	height: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#nav-list li span {
	color: white;
	font-weight: bold;
	line-height: 20px;
}

/*#collapsable-nav div ul {
	border: 1px solid black;
}
li{
	border-bottom: 1px solid black;
}
li:nth-child(1) {
	border-top:1px solid black;
}*/
#main-content h2 {
	color: white;
	margin-top: 10px;
}
#box {
	background-color: #FF8C00;
	color: #800000;
	width: 100%;
	height: 1000px;
	margin-top: 30px;
	
	padding-left: 20px;
	padding-right: 20px;
	overflow: auto;
}
h3 {
	margin-top: 5px
	margin-bottom 5px
	padding-bottom: 10px;
}

/********** Small devices only **********/
/*@media (min-width: 768px) {
 	#box {
		margin-left: auto;
		margin-right: auto;
	}
  
  }



/********** Extra small devices only **********/
@media (max-width: 767px) {
	section.col-xs-12 {
		padding: 60px;
	}
	button {
		line-height: 0px;
	}
	#box {
		margin-top: 0;
	}
.visible-xs {
	padding: 0;
	margin: 0;
}
#collapsable-nav {
	border: 1px solid white;
}
}